<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" [routerLink]="['/']">Angular Learning</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
    <div class="navbar-nav" *ngFor="let item of AccessModules">
      
      <a class="nav-item nav-link" [routerLink]="[item.moduleName | lowercase]" routerLinkActive="active">
        <span *ngIf="item.subModules.length == 0">{{ item.moduleName }}</span>
      </a>

      <div *ngIf="item.subModules.length > 0" class="dropdown">

        <span class="dropbtn nav-item nav-link">{{ item.moduleName }} <span class="fa fa-chevron-circle-down"></span></span>
        
        <div class="dropdown-content">
          <a 
            *ngFor="let i of item.subModules"
            [routerLink]="[i.moduleName | lowercase]"
            [class.wrapper]="!i.accessible"
          >

          <span> {{i.moduleName }}</span>

          <!-- <div [class.wrapper]="!i.accessible" >
            <div [class.pointer-events-none]="!i.accessible">
              <span> {{i.moduleName }}</span>
            </div>
          </div> -->

           
          
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="mx-5" *ngIf="!authservice.getUser()">
      <a [routerLink]="['/login']" class="btn btn-primary mx-3">Login</a>
      <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    </div>
    <div class="mx-5" *ngIf="authservice.getUser()">
      <span>Welcome, {{username}}</span>
      <a (click)="logout()" class="btn btn-primary mx-3">LogOut</a>
    </div>
  </div>
</nav>
