<!-- <div>
    <form [formGroup]="personsform" (ngSubmit)="submitform()">
        <div class="for-group row w-50">

            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="Name">
            </div>

            <label for="bdate" class="col-sm-2 col-form-label">BirthDate</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" formControlName="BirthDate" (change)="calculateAge()">
            </div>

            <label for="age" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="age" formControlName="Age" readonly>
            </div>

            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
                <div class="form-check">

                    <input class="form-check-input" type="radio" id="gridRadios1" value="male" formControlName="Gender">
                    <label class="form-check-label" for="male">
                        Male
                    </label>

                </div>
                <div class="form-check">

                    <input class="form-check-input" type="radio" id="gridRadios2" value="female"
                        formControlName="Gender">
                    <label class="form-check-label" for="female">
                        Female
                    </label>

                </div>
            </div>

            <div formArrayName="MobileNo">

                <div *ngFor="let m of MobileNo.controls; let i = index">

                    <label for="mobile" class="col-sm-2 col-form-label">Mobile No. {{i+1}}</label>
                    <input id="m-{{ i }}" type="text" class="form-control w-75 d-inline" [formControlName]="i">

                    <button type="button" [disabled]="MobileNo.length == 1" class="rounded"
                        (click)="removemobile(i)">Remove</button>

                </div>

                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">

                    <button type="button" class="btn btn-primary rounded " (click)="AddMobileNo()">
                        + Add another Number
                    </button>
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
</div> -->
<hr>
<h3>Dynamic form using Nested Form Array</h3>
<hr>
<div>
    <form [formGroup]="groupform" (ngSubmit)="submitform()">

        <button type="button" class="btn btn-primary rounded " (click)="addPerson()">
            + Add New Person
        </button>

        <input type="submit" class=" m-1 btn btn-success" value="Save">


        <div formArrayName="persons">


            <div *ngFor="let person of persons.controls; let i = index">
                <div [formGroupName]="i" style="border: 1px solid black; padding: 10px; margin: 5px;" class="w-50">
                    <div class="for-group row ">

                        <h3>Person {{i+1}}
                            <button class="btn btn-danger float-end" (click)="removeperson(i)">Remove</button>
                        </h3>


                        <label for="Name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="Name">

                            <div class="text-danger mb-2"
                                *ngIf="person.get('Name')?.hasError('required') && person.get('Name')?.touched">
                                Name is required
                            </div>

                        </div>

                        <label for="bdate" class="col-sm-2 col-form-label">BirthDate</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="date" formControlName="BirthDate"
                                (change)="calculateAge(i)">
                            <div class="text-danger mb-2"
                                *ngIf="person.get('BirthDate')?.hasError('required') && person.get('BirthDate')?.touched">
                                BirthDate is required
                            </div>
                        </div>


                        <label for="age" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="age" formControlName="Age" readonly>

                        </div>

                        <legend class="col-form-label col-sm-2">Gender</legend>
                        <div class="col-sm-10">
                            <div class="form-check">

                                <input class="form-check-input" type="radio" id="gridRadios1" value="male"
                                    formControlName="Gender">
                                <label class="form-check-label" for="male">
                                    Male
                                </label>

                            </div>
                            <div class="form-check">

                                <input class="form-check-input" type="radio" id="gridRadios2" value="female"
                                    formControlName="Gender">
                                <label class="form-check-label" for="female">
                                    Female
                                </label>

                            </div>

                            <div class="text-danger mb-2"
                                *ngIf="person.get('Gender')?.hasError('required') && person.get('Gender')?.touched">
                                Gender is required
                            </div>
                        </div>


                        <div formArrayName="MobileNo">

                            <div *ngFor="let pm of personMobile(i).controls; let j = index">


                                <label for="mobile" class="col-form-label col-sm-2">Mobile No. {{j+1}}</label>


                                <input id="m-{{ j }}" type="text" class="form-control w-50 d-inline"
                                    [formControlName]="j">

                                <button type="button" class="rounded" (click)="removemobile(i,j)"
                                    [disabled]="personMobile(i).length == 1">Remove</button>


                                <span class="text-danger mb-2" *ngIf="pm.hasError('required') && pm.touched">
                                    Atleast one Mobile number is required
                                </span>
                                <span class="text-danger" *ngIf="pm?.hasError('pattern')">
                                    <small>Please, Enter 10 digit Mobile Number.</small>
                                </span>

                            </div>

                            <div class="col-sm-2 pt-2">
                            </div>

                            <div class="col-sm-10">
                                <button type="button" class="btn btn-secondary rounded " (click)="addPersonMobile(i)">
                                    + Add another Number
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- <p class="pt-5">
    {{personsform.value | json}}
</p> -->

<p class="pt-5">
    {{groupform.value | json}}
</p>


<hr>
<hr>
<h3>Dynamic form from JSON</h3>
<hr>
<hr>

<div class="w-50 pt-5">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div style="border: 1px solid black; padding: 10px; margin: 5px;">
            <div *ngFor="let formField of formFields" class="form-group">

                <label> {{ formField.fieldName }}</label>
                <input class="form-control" type="{{ formField.fieldType }}" value="{{ formField.fieldName }}"
                    [required]="formField.required" formControlName="{{ formField.fieldName }}" />
                
                    <!-- <span class="text-danger mb-2" *ngIf="formField.required ">
                        Required field
                    </span> -->

                <br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>