
<div class="wrapper fadeInDown">
    <div id="formContent" class="m-5 p-5 ">
      <!-- Register Form -->
      <form>
        <input type="text" id="register" class="fadeIn second" name="register" placeholder="User Name">
        <input type="text" id="register" class="fadeIn second" name="register" placeholder="Email Address">
        <input type="text" id="password" class="fadeIn third" name="register" placeholder="password">
        <input type="text" id="password" class="fadeIn third" name="register" placeholder="Confirm password">
        <input type="submit" class="fadeIn fourth" value="Sign UP">
      </form>
  
    </div>
  </div>